In [2]:
import sys
import plotly.express as px
from scipy.stats import mannwhitneyu
from pathlib import Path #for relative path handling
import pandas as pd 
import duckdb

In [3]:
sys.path.append(str(Path().resolve().parent / "shared" / "utils"))

from data_loading import load_csv

# Robust, reusable CSV loading
df = load_csv('survey_data.csv')
if df is not None:
    display(df.head())

✅ CSV loaded successfully: c:\Users\mashel\Desktop\ml-scaffolds\ml-platform\data\raw\survey_data.csv

                                                           Growth_Firm;question_2_row_1_transformed;question_2_row_2_transformed;question_3_row_1;question_3_row_2;question_3_row_3;question_3_row_4;question_3_row_5;question_3_row_6;question_3_row_7;question_3_row_8;question_3_row_9;question_3_row_10;question_3_row_11;question_3_row_12;question_3_row_13;question_3_row_14;question_3_row_15;question_3_row_16;question_4_row_1;question_4_row_2;question_4_row_3;question_4_row_4;question_5_row_1;question_5_row_2;question_5_row_3;question_5_row_4;question_5_row_5;question_5_row_6;question_5_row_7;question_5_row_8;question_5_row_9;question_5_row_10;question_6_row_1;question_6_row_2;question_7_row_1
0;35    1351351351351;50                                    7509391319659;4;5;5;4;3;3;4;4;4;2;2;2;2;4;4;3;...
0;23    0180426462548;51                                    182200341316;5;4;4;4;4;4;4;5;5;4;2;4;2;4;4;3;4...
0;86    6404715127701;62                                    9326385264931;3;4;4;4;4;3;4;5;3;3;3;5;3;4;4;4;...
0;17    6470588235294;39                                    1304347826087;3;4;5;4;4;4;5;5;3;3;4;5;4;4;5;3;...
0;60;32 8021248339973;4;4;4;4;3;4;4;4;5;5;2;3;1;2;4;2;4...                                                NaN

In [4]:
from data_loading import duckdb_read_csv

duck_df = duckdb_read_csv('survey_data.csv')
if duck_df is not None:
    display(duck_df.head())

,Growth_Firm,question_2_row_1_transformed,question_2_row_2_transformed,question_3_row_1,question_3_row_2,question_3_row_3,question_3_row_4,question_3_row_5,question_3_row_6,question_3_row_7,...,question_5_row_4,question_5_row_5,question_5_row_6,question_5_row_7,question_5_row_8,question_5_row_9,question_5_row_10,question_6_row_1,question_6_row_2,question_7_row_1
0,0,35.135135,50.750939,4,5,5,4,3,3,4,...,4,2,4,2,3,2,5,4,5,1
1,0,23.018043,51.182200,5,4,4,4,4,4,4,...,3,4,3,3,3,4,3,5,4,1
2,0,86.640472,62.932639,3,4,4,4,4,3,4,...,5,4,4,4,4,<NA>,<NA>,5,3,1
3,0,17.647059,39.130435,3,4,5,4,4,4,5,...,3,3,4,4,4,3,3,3,3,1
4,0,60.000000,32.802125,4,4,4,4,3,4,4,...,4,2,4,2,3,3,4,5,2,2

In [5]:
# List available CSV files in the data directory

from data_loading import list_csv_files

print("Available CSV files:", list_csv_files())

Available CSV files: ['audible_raw.csv', 'crimes.csv', 'diabetes.csv', 'sales_data_sample.csv', 'survey_data.csv', 'survey_questions.csv', 'test.csv', 'What_does_it_take_to_generate_new_growth_Survey_data.csv', 'yes_no.csv']

In [6]:
# Test error handling

df_missing = load_csv('non_existent_file.csv')

❌ File not found: c:\Users\mashel\Desktop\ml-scaffolds\ml-platform\data\raw\non_existent_file.csv

In [7]:
# test loading with different separator
df_semicolon = load_csv('survey_data.csv', sep=';')

✅ CSV loaded successfully: c:\Users\mashel\Desktop\ml-scaffolds\ml-platform\data\raw\survey_data.csv

In [8]:
# Get the path to a CSV file directly
from data_loading import get_csv_path

print(get_csv_path('survey_data.csv'))

c:\Users\mashel\Desktop\ml-scaffolds\ml-platform\data\raw\survey_data.csv

In [9]:
# Round-trip loading

# Save a test CSV
test_df = pd.DataFrame({'a': [1, 2], 'b': [3, 4]})
test_df.to_csv(get_csv_path('test.csv'), index=False)

# Load it back
df_test = load_csv('test.csv')
display(df_test)

✅ CSV loaded successfully: c:\Users\mashel\Desktop\ml-scaffolds\ml-platform\data\raw\test.csv

   a  b
0  1  3
1  2  4